<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.js">
    </script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const container = document.querySelector(".warning");
            if (document.cookie.indexOf("warning") != -1) {
                container.classList.remove("warning--active");
            }

            if (document.querySelector(".warning")) {
                const apply = container.querySelector(".warning__apply");
                apply.addEventListener("click", () => {
                    container.classList.remove("warning--active");
                    document.cookie = "warning=true; max-age=2592000; path=/";
                });
            }
        });
    </script>
</head>
<body>

<nav>
    <ul class="menu">
    <li><a href="{{ url_for('home_main') }}"><img src="{{ url_for('static', filename='img/home_2.svg') }}" width="30" height="30"> Главная</a></li>
    <li><a href="{{ url_for('add_mk') }}"><img src="{{ url_for('static', filename='img/note.svg') }}" width="30" height="30">Записаться</a></li>
    <li><a href="{{ url_for('kontakti') }}"><img src="{{ url_for('static', filename='img/contact.svg') }}" width="30" height="30">Контакты</a></li>
    {% if request.cookies.get('UUID') %}<li><a href="{{ url_for('special_page') }}"><img src="{{ url_for('static', filename='img/my_ap.svg') }}" width="30" height="30">Мои заявки</a></li>{% endif %}
    {% if request.cookies.get('TGM') %}<li><a href="{{ url_for('admin_page') }}"><img src="{{ url_for('static', filename='img/admin.svg') }}" width="30" height="30">АДМИН ПАНЕЛЬ</a></li>{% endif %}
        <li><a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='img/about.svg') }}" width="30" height="30">О нас</a></li>
    </ul>
</nav>


<div>{% block content %}  {% endblock %}</div>

<div class="warning warning--active">
	<div class="warning__text">Привет, это Алгоритмика Сахалин! Мы используем куки.</div>
	<button class="warning__apply" type="button">OK</button>
	<a class="warning__read" href="https://ru.wikipedia.org/wiki/Cookie" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
        </svg>
        Что такое куки
    </a>
</div>

</body>
</html>