{% extends 'base.html' %}

{% block title %}
    <title> {{ p_title }}</title>
{% endblock %}

{% block content %}

    <div class="text-container-info">
        <h1>Наши контакты:</h1>
        <p>
            Позвоните нам:
                <div class="phone-container">
                    <a class="phone-number"href="tel:+79621050222">+7 (962) 105‑02‑22</a>
               </div>
        </p>
        <p>
            Напишите нам:
            <div class="email-container">
                <a class="email-address" href="mailto:u-sakhalinsk@algoritmika.org">u-sakhalinsk@algoritmika.org</a>
            </div>
        </p>
        <p>
            Telegram:
                <a href="https://t.me/Sonmi0506">Написать в WhatsApp</a>
        </p>
        <p>
            Whatsapp*:
                <a href="https://wa.me/+79621050222">Написать в Telegram</a>
        </p>
    <p>
        * Компания Meta Platforms Inc. признана экстремистской организацией, и ее деятельность запрещена на территории РФ. WhatsApp, Facebook и Instagram являются ее продуктами. Реализация Facebook и Instagram на территории РФ запрещена.
    </p>
    </div>

{% endblock %}