{% extends 'base.html' %}


{% block title %}
    <title> {{ p_title }}</title>
{% endblock %}

{% block content %}

<div class="table-container">
<table border="1">
        <thead>
            <tr>
                <th>Фамилия ребенка</th>
                <th>Имя ребенка</th>
                <th>Мастер-класс</th>
                <th>День мастер-класса</th>
                <th>Время мастер-класса</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
